#noPhoto {
  margin-top:3vh;
  color: red;
  font-size: 3rem;
  text-align: justify;
}

.description p{
  font-size: 3.5vw;
  text-align: justify;
}

.description h4{
  font-size: 5vw;
  text-align:center;
  color:#b4c710;
}
