<div class="container">
  <p *ngIf="error">{{error}}</p>
  <div *ngIf="listPhotos?.length>0">
    <div class="row" *ngFor="let e of listPhotos">
      <div class="col-xs-12 col-sm-10 col-md-10">
        <h2 class="text-primary">{{e.title}}</h2>
      </div>
      <div class="col-xs-12 col-offset-sm-1 col-sm-10 col-offset-md-1 col-md-10">
        <img src="{{e.imageURL}}" alt="{{e.title}}">
      </div>
      <div class="col-xs-10 col-sm-10 col-md-10 description">
        <h4>{{e._location.name}}</h4>
        <p>{{e.description}}</p>
      </div>
      <hr/>
    </div>
  </div>
  <div *ngIf="listPhotos?.length===0" id="noPhoto">
    <p> There are no photos for this selection</p>
  </div>
</div>
