<div class="container">
  <select #selectElement (change)="selectLocation(selectElement.value)">
      <option *ngFor="let e of ListLocation" [value]="e._id">{{e.name}}</option>
    </select>
  <br>
  <div class="map">
    <agm-map [latitude]="latInit" [longitude]="lonInit" [zoom]="zoom"  (mapClick)="mapClicked($event)">
      <agm-marker [latitude]=location?.lat [longitude]=location?.lon>
        <agm-info-window>Rating {{location?.rating}}</agm-info-window>
      </agm-marker>
    </agm-map>
  </div>

  <div *ngIf="location">
    <p>{{location.name}} ---- {{location.rating}}</p>
    <p>{{location._id}}</p>
    <p *ngIf="location.priv"> Location private</p>
    <p *ngIf="!location.priv"> Location public</p>
    <a [routerLink]="['../photo/add',location._id]">Add Photo to this location</a><br>
    <a [routerLink]="['../photo/list',location._id]">View all Photos of this location</a>
  </div>
</div>
