.container {
  width: 70%;
}
@media (max-width: 450px) {
  agm-map {
    height: 200px;
  }
  .attach {
    margin-bottom:1vh;
  }
}
@media (min-width: 451px) and (max-width: 800px) {
  agm-map {
    height: 400px;
  }
}
@media (min-width: 801px)  {
  agm-map {
    height: 600px;
  }
}
