<!-- <div class="container">
  <p *ngIf="error">{{error}}</p>
  <div *ngIf="user" class="private">
    <button class="btn btn-primary" [routerLink]="['../login']" (click)="authService.logout().subscribe()">Logout</button>
  </div>
  <div *ngIf="!user">
    <span>Private area. First
    <a [routerLink]="['/login']">Sign In</a> or
    <a [routerLink]="['/register']"> Sign Up</a>
  </span>
  </div>
</div> -->

<!-- <div class="container">
  <p *ngIf="error">{{error}}</p>
    <button class="btn btn-primary" [routerLink]="['../login']" (click)="authService.logout().subscribe()">Logout</button>
  </div> -->
<p>FALTA PONER COSAS  PERFIL USUARIO Y EDITAR PERFIL</p>
