.knot{
  width: 90%;
  margin-left: 5%;
}

 .knot div {
   font-size: 3.5vw;
   display:inline-block;
   margin-bottom: 2vh;
   text-align: justify;
  }

.knot img {
  width: 60%;
  margin-left: 10%;
}
.title{
  color:red;
}
