<div class="container">
  <div class="row">
  <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6 knot">
    <div class="title">IMPROVED CLINCH KNOT </div>
    <div>(for tying line to a hook)</div>
    <div><img  style="margin-bottom:2vh" src="https://i1.wp.com/fishing.boyslife.org/files/2013/03/clinchknot.jpg?w=650&amp;ssl=1" alt=""></div>
    <div>1. Thread the line through the eye of the hook, then make 5 to 7 wraps around the line with the loose end.</div>
    <div>2. Thread the loose end of the line through the loop closest to the eye, then back around inside the loose section of line.</div>
    <div>3. Pull both ends of the line until tight.</div>
    <div>4. Trim the loose end of the line if necessary.</div>
    <hr style="min-width:90%; background-color:#a1a1a1 !important; height:1px;" />
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6 knot">
      <div class="title">PALOMAR KNOT </div>
      <div>(for tying line to a hook)</div>
      <div><img  style="margin-bottom:2vh" src="https://i2.wp.com/fishing.boyslife.org/files/2013/03/palomer.jpg?w=650&amp;ssl=1" alt=""></div>
      <div>1. Double your line to make a loop, then push the loop through the eye of your hook.</div>
      <div>2. Tie a loose overhand knot.</div>
      <div>3. Pass the loop around the end of the hook</div>
      <div>4. Pull on the line to tighten.</div>
      <div>5. Trim the loose end of the line if necessary.</div>
      <hr style="min-width:90%; background-color:#a1a1a1 !important; height:1px;" />
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6 knot">
        <div class="title">TURLE KNOT </div>
        <div>(for tying thin line to a small hook)</div>
        <div><img  style="margin-bottom:2vh" src="https://i2.wp.com/fishing.boyslife.org/files/2013/03/turleknot.jpg?w=650&amp;ssl=1" alt=""></div>
        <div>1. Run the line through the eye of the hook, then tie a loose double overhand knot in the end of the line.</div>
        <div>2. Pass the open loop over the hook and tighten the whole thing so that the loop tightens around the eye.</div>
        <hr style="min-width:90%; background-color:#a1a1a1 !important; height:1px;" />
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6 knot">
          <div class="title">BLOOD KNOT </div>
          <div>(for joining two sections of line together)</div>
          <div><img  style="margin-bottom:2vh" src="https://i2.wp.com/fishing.boyslife.org/files/2013/03/bloodknot.jpg?w=650&amp;ssl=1" alt=""></div>
          <div>1. Line up the ends of each line together for several inches, then wrap the first line around the second at least five times.</div>
          <div>2. Wrap the second around the first at least five times, and bring both loose ends back to the middle between the two lines.</div>
          <div>3. Pull tight on each line until the knot is snug.</div>
          <hr style="min-width:90%; background-color:#a1a1a1 !important; height:1px;" />
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6 knot">
            <div class="title">DOUBLE SURGEON’S LOOP </div>
            <div>(for forming a loop in the end of a line)</div>
            <div><img  style="margin-bottom:2vh" src="https://i2.wp.com/fishing.boyslife.org/files/2013/03/doublesurgeonloop.jpg?w=650&amp;ssl=1"></div>
            <div>1. Line up the ends of each line together for several inches, then wrap the first line around the second at least five times.</div>
            <div>2. Wrap the second around the first at least five times, and bring both loose ends back to the middle between the two lines.</div>
            <div>3. Pull tight on each line until the knot is snug.</div>
            <hr style="min-width:90%; background-color:#a1a1a1 !important; height:1px;" />
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6 knot">
              <div class="title">WIRE LINE TO MONO KNOT</div>
              <div>(for attaching wire line to monofilament)</div>
              <div><img  style="margin-bottom:2vh" src="https://i0.wp.com/fishing.boyslife.org/files/2013/03/wiremonoknot.jpg?w=650&amp;ssl=1"></div>
              <div>1. Fold four inches of wire line back over itself to form a bend at the end of the line.</div>
              <div>2. Run your monofilament line through the middle of the bend, then wrap it once around the bottom of the bend.</div>
              <div>3. With the monofilament, make seven close turns around both lines.</div>
              <div>4. Pass the loose end of the monofilament above the center strand of monofilament and below the wire line, then pull snug.</div>
              <hr style="min-width:90%; background-color:#a1a1a1 !important; height:1px;" />
            </div>


            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6 knot">
                <div class="title">TUCKED SHEET BEND</div>
                <div>(for attaching wire line to monofilament)</div>
                <div><img  style="margin-bottom:2vh" src="https://i0.wp.com/fishing.boyslife.org/files/2013/03/tuckedsheetbend.jpg?w=650&amp;ssl=1"></div>
                <div>1. Pass the end of the line through the loop, then make a simple sheet bend knot.</div>
                <div>2. Pass the end of the line back through the loop of the sheet bend.</div>
                <div>3. Tighten until snug.</div>
                <hr style="min-width:90%; background-color:#a1a1a1 !important; height:1px;" />
              </div>

              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6 knot">
                  <div class="title">TSNELLING A HOOK</div>
                  <div>(for attaching monofilament to a hook)</div>
                  <div><img  style="margin-bottom:2vh" src="https://i0.wp.com/fishing.boyslife.org/files/2013/03/tuckedsheetbend.jpg?w=650&amp;ssl=1"></div>
                  <div>1. Pass the end of the line through the eye of the hook twice, creating a loop that hangs alongside the hook.</div>
                  <div>2. Wrap the loop around the hook, forming tight coils, 5 to 10 times.</div>
                  <div>3. Holding the coils in place with one finger, pull the line up until the loop is snug under the coils.</div>
                  <hr style="min-width:90%; background-color:#a1a1a1 !important; height:1px;" />
                </div>


        </div>
