.row:nth-child(2n){
  background-color: #e1d9d961;
}


.row div > div {
   font-size: 2vw;
   display:inline-block;
   margin-bottom: 2vh;
   text-align: justify;
  }

.knotImg {
  width: 70%;
  margin-left:15%;
}

.knotImg img {
  width: 100%;
}
.title{
  color:red;
  padding-top:2rem;
}
