<div class="btn-group">
  <button [routerLink]="['/home']" type="button" class="btn btn-primary btn-circle btn-lg"><i class="glyphicon glyphicon-home"></i></button>
  <button [routerLink]="['/remark']" type="button" class="btn btn-info btn-circle btn-lg"><i class="glyphicon glyphicon-th-list"></i></button>
  <button [routerLink]="['/location']" type="button" class="btn btn-primary btn-circle btn-lg"><i class="glyphicon glyphicon-map-marker"></i></button>
  <button [routerLink]="['/weather']" type="button" class="btn btn-info btn-circle btn-lg"><i class="glyphicon glyphicon-cloud"></i></button>
  <button [routerLink]="['/photo']" type="button" class="btn btn-primary btn-circle btn-lg"><i class="glyphicon glyphicon-picture"></i></button>
  <button [routerLink]="['/knot']" type="button" class="btn btn-info btn-circle btn-lg"><i class="glyphicon glyphicon-education"></i></button>
  <button [routerLink]="['/login']" (click)="logOut()" type="submit" class="btn btn-primary btn-circle btn-lg"><i class="glyphicon glyphicon-log-out"></i></button>
</div>
<div style="height:12vh"></div>
<p class="error" *ngIf="error">{{ error }}</p>
