<div class="container">
	<div class="row">
		<div class="col-xs-offset-2 col-xs-8 col-sm-12 col-md-12">
			<img style="width:90%;" src="http://rn53themes.net/themes/demo/directory/images/services/s1.jpeg" alt="">
		</div>
		<div class="col-xs-offset-1 col-xs-10 col-sm-12 col-md-12 listing-title">
			<a href="listing-details.html">
				<h3>World Best Local Directory</h3>
			</a>
			<h4>Express Avenue Mall, Los Angeles</h4>
			<p><b>Address:</b> 28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.</p>
			<div class="listing-number ">
			</div>
			<div class="listing-enquiry-sec">
			</div>
		</div>
	</div>
</div>
