<div class="container">
  <form role="form" #formAdd="ngForm">
    <fieldset>
      <legend> Photo info </legend>
      <label> Title </label>
      <input type="text" [(ngModel)]="newPhoto.title" name="tithe" required />
      <label> description </label>
      <input type="text" [(ngModel)]="newPhoto.description" name="description" required />
      <input type="file" name="file" ng2FileSelect [uploader]="uploader"/><br>
      <label> Private </label>
      <input type="checkbox" [(ngModel)]="newPhoto.priv" name="priv" checked>
    </fieldset>
    <button class="btn btn-success" (click)="submit()"
            [disabled]="!formAdd.valid &&  !this.uploader.onCompleteAll.length.valueOf()>0"> submit </button>
  </form>
</div>
