<div class="container">
  <p *ngIf="error">{{error}}</p>
  <div class="filter">
    <input type="text" placeholder="Filter by location" [(ngModel)]="pattern">
    <button [routerLink]="['./add']" class="btn btn-success pull-right">Add remark</button>
  </div>
  <div class="panel panel-default" *ngFor="let e of listRemark | filterRemark:pattern">
    <div class="panel-heading">
      <label>Location: {{e._location.name}}</label>
    </div>
    <div class="panel-body">
      <div class="pull-left">{{e._user.created_at | date:'dd/MM/yyyy'}}</div>
      <div class="pull-right">{{e._user.username}}</div>
    </div>
    <div class="description">
      <strong>Description: </strong>
      <p>{{e.contain}}</p>
    </div>
  </div>
</div>
